#logo {
  max-width: 100px;
  height: auto;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: black;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.buttons {
  background-color: #333;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.baritem {
  padding: 10px 20px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.baritem:hover {
  background-color: #777;
}

.button.dark-gray {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button.dark-gray:hover {
  background-color: #555;
}

.buttons div {
  display: inline-block;
}


